In [1]:
import pandas as pd                    #importing the libraries
import sklearn as sns
import sklearn.metrics as snm

In [2]:
Names= ['name','hobbies','age','study_level','married','class']             #loading the datasets
df=pd.read_csv("hayes-roth.csv",names=Names)

In [3]:
df.shape

(132, 6)

In [4]:
df.head(6)

   name  hobbies  age  study_level  married  class
0    92        2    1            1        2      1
1    10        2    1            3        2      2
2    83        3    1            4        1      3
3    61        2    4            2        2      3
4   107        1    1            3        4      3
5   113        1    1            3        2      2

In [5]:
X=df.iloc[:,:-1]

In [6]:
X.shape

(132, 5)

In [7]:
X.head(10)

   name  hobbies  age  study_level  married
0    92        2    1            1        2
1    10        2    1            3        2
2    83        3    1            4        1
3    61        2    4            2        2
4   107        1    1            3        4
5   113        1    1            3        2
6    80        3    1            3        2
7   125        3    4            2        4
8    36        2    2            1        1
9   105        3    2            1        1

In [8]:
y=df.iloc[:,5]
y

0      1
1      2
2      3
3      3
4      3
      ..
127    3
128    1
129    2
130    2
131    1
Name: class, Length: 132, dtype: int64

In [9]:
y.shape
y.head(10)

0    1
1    2
2    3
3    3
4    3
5    2
6    2
7    3
8    1
9    1
Name: class, dtype: int64

# Feature Scaling

In [10]:
 from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
sc_x=StandardScaler()
X_sc=sc_x.fit_transform(X)

In [11]:
X_sc

array([[ 0.66922065,  0.        , -1.010753  , -1.010753  ,  0.0481311 ],
       [-1.48278301,  0.        , -1.010753  ,  1.10701519,  0.0481311 ],
       [ 0.43302513,  1.22474487, -1.010753  ,  2.16589928, -1.010753  ],
       [-0.14434171,  0.        ,  2.16589928,  0.0481311 ,  0.0481311 ],
       [ 1.06287986, -1.22474487, -1.010753  ,  1.10701519,  2.16589928],
       [ 1.22034354, -1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [ 0.35429329,  1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [ 1.53527091,  1.22474487,  2.16589928,  0.0481311 ,  2.16589928],
       [-0.80044039,  0.        ,  0.0481311 , -1.010753  , -1.010753  ],
       [ 1.01039197,  1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [ 0.38053723, -1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [ 1.45653907,  0.        ,  0.0481311 ,  1.10701519,  2.16589928],
       [ 0.72170855, -1.22474487, -1.010753  ,  0.0481311 , -1.010753  ],
       [-0.17058566,  0.        , -1.010753  ,  0.0481311 ,  0.0481311 ],
       [-1.53527091,  0.        ,  2.16589928, -1.010753  ,  2.16589928],
       [-1.22034354, -1.22474487, -1.010753  ,  1.10701519,  1.10701519],
       [ 0.48551302,  1.22474487,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-0.43302513, -1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [ 0.03936592,  1.22474487,  1.10701519,  0.0481311 , -1.010753  ],
       [ 0.59048881,  1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [-0.38053723, -1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-1.24658749,  1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [ 1.35156328,  0.        , -1.010753  ,  0.0481311 , -1.010753  ],
       [-1.32531933,  1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [ 0.64297671,  0.        ,  1.10701519,  0.0481311 , -1.010753  ],
       [ 0.32804934,  1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-1.1416117 ,  1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [-1.08912381,  0.        , -1.010753  ,  0.0481311 ,  0.0481311 ],
       [-0.95790407, -1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [-0.2493175 ,  1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [-1.66649064, -1.22474487,  2.16589928, -1.010753  , -1.010753  ],
       [ 1.24658749,  0.        ,  0.0481311 , -1.010753  ,  1.10701519],
       [-0.77419644, -1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [-0.01312197, -1.22474487, -1.010753  , -1.010753  ,  0.0481311 ],
       [ 1.1416117 ,  0.        ,  2.16589928,  1.10701519, -1.010753  ],
       [ 1.29907538,  1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [ 0.56424486, -1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [ 0.27556145,  1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [ 0.40678118, -1.22474487,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-0.06560987,  1.22474487,  2.16589928,  1.10701519,  0.0481311 ],
       [ 0.45926908,  0.        ,  0.0481311 ,  0.0481311 , -1.010753  ],
       [ 0.51175697,  0.        ,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-1.5877588 ,  1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [ 0.1968296 ,  1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [ 1.03663591,  1.22474487, -1.010753  ,  0.0481311 , -1.010753  ],
       [ 1.27283144, -1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [ 1.66649064,  0.        , -1.010753  , -1.010753  ,  0.0481311 ],
       [-0.32804934, -1.22474487, -1.010753  , -1.010753  ,  0.0481311 ],
       [-0.87917223, -1.22474487,  0.0481311 ,  0.0481311 ,  1.10701519],
       [ 0.01312197,  1.22474487,  1.10701519, -1.010753  , -1.010753  ],
       [ 0.06560987,  1.22474487,  1.10701519,  1.10701519, -1.010753  ],
       [-0.72170855,  1.22474487,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-0.35429329,  1.22474487,  0.0481311 , -1.010753  ,  0.0481311 ],
       [ 1.5877588 ,  1.22474487, -1.010753  ,  0.0481311 , -1.010753  ],
       [ 0.77419644, -1.22474487, -1.010753  , -1.010753  ,  0.0481311 ],
       [ 1.43029512,  0.        , -1.010753  ,  1.10701519,  0.0481311 ],
       [ 0.09185382,  0.        ,  0.0481311 ,  0.0481311 , -1.010753  ],
       [ 1.48278301,  0.        , -1.010753  ,  0.0481311 , -1.010753  ],
       [-0.64297671,  0.        ,  0.0481311 , -1.010753  ,  1.10701519],
       [ 0.30180539,  0.        , -1.010753  ,  0.0481311 ,  0.0481311 ],
       [-1.45653907, -1.22474487,  0.0481311 ,  2.16589928,  0.0481311 ],
       [ 1.6402467 ,  0.        ,  0.0481311 , -1.010753  ,  0.0481311 ],
       [ 1.61400275, -1.22474487, -1.010753  ,  0.0481311 ,  2.16589928],
       [-1.61400275, -1.22474487,  1.10701519,  0.0481311 , -1.010753  ],
       [-1.6402467 ,  0.        ,  2.16589928,  2.16589928,  0.0481311 ],
       [ 0.74795249,  0.        ,  1.10701519,  0.0481311 , -1.010753  ],
       [ 0.17058566,  1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [-1.06287986, -1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [-0.48551302, -1.22474487,  1.10701519,  0.0481311 ,  2.16589928],
       [ 0.98414802, -1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [ 0.93166012,  1.22474487, -1.010753  ,  2.16589928,  0.0481311 ],
       [-1.69273459,  0.        , -1.010753  ,  1.10701519,  0.0481311 ],
       [-0.66922065, -1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [ 1.37780723,  1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [ 0.22307355, -1.22474487,  0.0481311 ,  2.16589928,  2.16589928],
       [-0.51175697, -1.22474487,  2.16589928,  0.0481311 , -1.010753  ],
       [ 0.6954646 ,  0.        , -1.010753  ,  0.0481311 , -1.010753  ],
       [-0.53800092,  1.22474487,  2.16589928, -1.010753  ,  0.0481311 ],
       [ 1.71897854,  0.        ,  0.0481311 , -1.010753  , -1.010753  ],
       [ 1.08912381, -1.22474487, -1.010753  ,  0.0481311 , -1.010753  ],
       [-1.27283144,  0.        ,  0.0481311 ,  2.16589928,  1.10701519],
       [-0.11809776,  1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [ 1.40405117, -1.22474487, -1.010753  ,  1.10701519,  0.0481311 ],
       [-0.82668434, -1.22474487,  0.0481311 , -1.010753  ,  1.10701519],
       [-1.03663591, -1.22474487,  2.16589928,  2.16589928, -1.010753  ],
       [ 0.82668434,  1.22474487,  1.10701519,  1.10701519,  0.0481311 ],
       [ 1.11536775,  0.        ,  0.0481311 , -1.010753  ,  1.10701519],
       [-0.93166012,  1.22474487,  1.10701519,  0.0481311 , -1.010753  ],
       [ 1.1940996 , -1.22474487, -1.010753  , -1.010753  ,  1.10701519],
       [-0.85292828,  0.        ,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-0.09185382,  0.        ,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-0.03936592,  0.        ,  1.10701519,  0.0481311 ,  1.10701519],
       [ 1.32531933, -1.22474487,  1.10701519,  0.0481311 , -1.010753  ],
       [-0.27556145,  0.        ,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-0.1968296 , -1.22474487, -1.010753  , -1.010753  ,  0.0481311 ],
       [ 0.2493175 ,  1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-1.71897854,  1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [-1.01039197, -1.22474487, -1.010753  ,  0.0481311 , -1.010753  ],
       [-1.16785565,  1.22474487, -1.010753  ,  2.16589928,  2.16589928],
       [-0.98414802,  1.22474487,  1.10701519,  0.0481311 , -1.010753  ],
       [ 1.16785565,  0.        ,  1.10701519,  0.0481311 , -1.010753  ],
       [ 0.80044039,  0.        , -1.010753  ,  1.10701519, -1.010753  ],
       [-0.45926908, -1.22474487,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-0.40678118,  1.22474487, -1.010753  , -1.010753  ,  0.0481311 ],
       [ 0.53800092,  0.        ,  0.0481311 ,  2.16589928, -1.010753  ],
       [-0.22307355, -1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-0.90541618,  0.        ,  1.10701519,  0.0481311 , -1.010753  ],
       [ 0.14434171,  0.        ,  0.0481311 , -1.010753  ,  2.16589928],
       [-0.30180539, -1.22474487,  2.16589928,  0.0481311 ,  1.10701519],
       [ 0.95790407,  0.        ,  0.0481311 , -1.010753  , -1.010753  ],
       [-1.56151486, -1.22474487,  0.0481311 , -1.010753  , -1.010753  ],
       [ 0.85292828,  0.        ,  0.0481311 ,  1.10701519,  0.0481311 ],
       [-1.35156328, -1.22474487,  1.10701519,  0.0481311 , -1.010753  ],
       [ 1.56151486,  1.22474487, -1.010753  ,  0.0481311 , -1.010753  ],
       [-0.56424486,  1.22474487, -1.010753  , -1.010753  ,  0.0481311 ],
       [ 0.90541618,  1.22474487,  1.10701519, -1.010753  ,  2.16589928],
       [ 0.87917223,  0.        ,  1.10701519,  2.16589928, -1.010753  ],
       [-1.11536775, -1.22474487,  0.0481311 ,  1.10701519,  1.10701519],
       [ 1.50902696,  1.22474487,  1.10701519,  0.0481311 ,  0.0481311 ],
       [-1.40405117,  1.22474487,  1.10701519,  2.16589928,  0.0481311 ],
       [-1.37780723, -1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-0.74795249,  0.        , -1.010753  , -1.010753  ,  2.16589928],
       [ 0.11809776,  1.22474487, -1.010753  ,  0.0481311 ,  0.0481311 ],
       [-0.61673276,  1.22474487,  0.0481311 ,  0.0481311 ,  2.16589928],
       [ 1.69273459,  0.        ,  1.10701519, -1.010753  ,  1.10701519],
       [-1.29907538,  0.        , -1.010753  , -1.010753  ,  0.0481311 ],
       [-1.43029512,  1.22474487,  2.16589928, -1.010753  ,  1.10701519],
       [-0.59048881, -1.22474487, -1.010753  ,  2.16589928,  1.10701519],
       [-0.6954646 ,  0.        , -1.010753  ,  0.0481311 , -1.010753  ],
       [ 0.61673276, -1.22474487,  0.0481311 , -1.010753  ,  0.0481311 ],
       [-1.1940996 , -1.22474487,  0.0481311 ,  0.0481311 , -1.010753  ],
       [-1.50902696,  1.22474487, -1.010753  , -1.010753  ,  0.0481311 ]])

In [12]:
import math
math.sqrt(len(X_sc))

11.489125293076057

In [13]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5,p=2 ,metric='euclidean')
classifier.fit(X_sc,y)

KNeighborsClassifier(metric='euclidean')

In [14]:
y_pred=classifier.predict(X_sc)
y_pred

array([1, 2, 3, 3, 3, 2, 2, 2, 2, 1, 2, 3, 1, 2, 3, 1, 2, 2, 1, 1, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1,
       1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1, 3, 2, 3, 2,
       2, 2, 2, 2, 1, 2, 2, 1, 3, 3, 1, 3, 1, 1, 3, 2, 2, 2, 3, 2, 2, 2,
       1, 1, 2, 3, 1, 2, 1, 2, 1, 2, 3, 2, 2, 1, 2, 1, 3, 2, 2, 1, 3, 1,
       1, 1, 2, 1, 1, 3, 3, 1, 2, 3, 2, 1, 2, 1, 2, 1, 3, 1, 2, 2, 2, 1])

# K Fold Validation

In [15]:
from sklearn.model_selection import KFold
k_fold = KFold(n_splits=5)
for train_value, test_value in k_fold.split(X_sc):
    X_train, X_test = X_sc[train_value], X_sc[test_value]
    y_train, y_test = y[train_value], y[test_value]

In [16]:
X_train.shape

(106, 5)

In [17]:
X_test.shape

(26, 5)

In [18]:
y_train.shape

(106,)

In [19]:
y_test.shape

(26,)

# Cross Validation

In [20]:

import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
 
Goal=GaussianNB()
validation=cross_val_score(Goal,X_train,y_train,scoring="neg_mean_absolute_error")

## MAE

In [21]:
print(f"MAE is : {np.mean(abs(validation))}")

MAE is : 0.40606060606060607

## RMSE

In [22]:
print(f"RMSE is : {np.sqrt(np.mean(abs(validation)))}")

RMSE is : 0.6372288490492298