In [1]:
import pandas as pd                      #importing the libraries
import numpy as np
import sklearn as sns

In [48]:
Names= ['buying','maint','doors','persons','lug_boot','safety','class']       #loading the datasets and giving headers to the data
df=pd.read_csv("car_evaluation.csv",names=Names)

In [49]:
df.head(10)

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc
5  vhigh  vhigh     2       2      med   high  unacc
6  vhigh  vhigh     2       2      big    low  unacc
7  vhigh  vhigh     2       2      big    med  unacc
8  vhigh  vhigh     2       2      big   high  unacc
9  vhigh  vhigh     2       4    small    low  unacc

In [50]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [51]:
X.shape

(1728, 6)

In [52]:
# shows the top 8 rows of features
X.head(8)

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med
5  vhigh  vhigh     2       2      med   high
6  vhigh  vhigh     2       2      big    low
7  vhigh  vhigh     2       2      big    med

In [53]:
y.shape

(1728,)

In [54]:
y.head(8)

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
5    unacc
6    unacc
7    unacc
Name: class, dtype: object

# Preprocessing

In [55]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        
        self.columns = columns 

    def fit(self,X,y=None):
        return self 
    
   
    def transform(self,X):
        
        output = X.copy()
        if self.columns is None:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        else:
            for col in self.columns: 
                output[col] = LabelEncoder().fit_transform(output[col])
            
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [56]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
std_scale=LabelEncoder()
X=MultiColumnLabelEncoder(columns = X.columns).fit_transform(X)
y=std_scale.fit_transform(y)

In [57]:
X

      buying  maint  doors  persons  lug_boot  safety
0          3      3      0        0         2       1
1          3      3      0        0         2       2
2          3      3      0        0         2       0
3          3      3      0        0         1       1
4          3      3      0        0         1       2
...      ...    ...    ...      ...       ...     ...
1723       1      1      3        2         1       2
1724       1      1      3        2         1       0
1725       1      1      3        2         0       1
1726       1      1      3        2         0       2
1727       1      1      3        2         0       0

[1728 rows x 6 columns]

In [58]:
X.tail(7)

      buying  maint  doors  persons  lug_boot  safety
1721       1      1      3        2         2       0
1722       1      1      3        2         1       1
1723       1      1      3        2         1       2
1724       1      1      3        2         1       0
1725       1      1      3        2         0       1
1726       1      1      3        2         0       2
1727       1      1      3        2         0       0

In [59]:
X.head(3)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2
2       3      3      0        0         2       0

In [60]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   int64
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   int64
 5   safety    1728 non-null   int64
dtypes: int64(6)
memory usage: 81.1 KB

In [61]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5,p=2 ,metric='euclidean')
classifier.fit(X,y)

KNeighborsClassifier(metric='euclidean')

In [62]:
y_pred=classifier.predict(X)
y_pred

array([2, 2, 2, ..., 2, 1, 3])

# K Fold Validation

In [63]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
k_fold = KFold(n_splits=15)
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.2)

In [64]:
X_train.shape

(1382, 6)

In [65]:
X_test.shape

(346, 6)

# cross validation

In [66]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
Goal=GaussianNB()
validation=cross_val_score(Goal,X_train,y_train,scoring="neg_mean_absolute_error")

## MAE

In [67]:
print(f"MAE:{np.mean(abs(validation))}")

MAE:0.7149348610893109

# RMSE

In [68]:
print(f"RMSE:{np.sqrt(np.mean(abs(validation)))}")

RMSE:0.8455382079417292