In [47]:
import pandas as pd
import numpy as np
import sklearn as sns

In [48]:
Names = ['Class','age','menopause','tumor-size','inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']
df=pd.read_csv("breast-cancer.data",names=Names)

In [49]:
df.head(8)

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
6,no-recurrence-events,50-59,premeno,25-29,0-2,no,2,left,left_low,no
7,no-recurrence-events,60-69,ge40,20-24,0-2,no,1,left,left_low,no

In [50]:
df.shape

(286, 10)

In [51]:
df.to_csv("dataset33.csv",index=False)

In [52]:
X=df.iloc[:,1:]
y=df.iloc[:,0]

In [53]:
X.shape

(286, 9)

In [54]:
X.head(8)

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no
5,60-69,ge40,15-19,0-2,no,2,left,left_low,no
6,50-59,premeno,25-29,0-2,no,2,left,left_low,no
7,60-69,ge40,20-24,0-2,no,1,left,left_low,no

In [55]:
y.shape

(286,)

In [56]:
y.head()

0    no-recurrence-events
1    no-recurrence-events
2    no-recurrence-events
3    no-recurrence-events
4    no-recurrence-events
Name: Class, dtype: object

# Preprocessing

In [57]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

   # Transforms columns of X specified in self.columns using LabelEncoder(). 
   # If no columns specified, transforms all columns in X.
    def transform(self,X):

        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [58]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
scale=LabelEncoder()
X=MultiColumnLabelEncoder(columns = X.columns).fit_transform(X)
y=scale.fit_transform(y)

In [59]:
X

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,1,2,5,0,1,2,0,2,0
1,2,2,3,0,1,1,1,5,0
2,2,2,3,0,1,1,0,2,0
3,4,0,2,0,1,1,1,3,0
4,2,2,0,0,1,1,1,4,0
...,...,...,...,...,...,...,...,...,...
281,1,2,5,0,1,1,0,3,0
282,1,2,3,0,1,2,0,3,1
283,4,0,3,0,1,0,1,3,0
284,2,0,5,4,1,2,0,2,0
285,3,0,5,4,1,2,0,2,0

# K Fold Validation

In [60]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
k_fold = KFold(n_splits=16)
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.2)

In [61]:
X_train.shape

(228, 9)

In [62]:
X_test.shape

(58, 9)

# Cross validation

In [63]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
Goal=GaussianNB()
validation=cross_val_score(Goal,X_train,y_train,scoring="neg_mean_absolute_error")

# MAE

In [64]:
print(f"MAE {np.mean(abs(validation))}")

MAE 0.249951690821256

# RMSE

In [65]:
print(f"RMSE {np.sqrt(np.mean(abs(validation)))}")

RMSE 0.49995168848725374